<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <form method="POST">
      {% csrf_token %} Roll No :
      <input type="text" name="EmployeNumber" value="{{ data.id }}" /><br />
      <label>Student Name: </label>
      {{ data.name }}"<br />
      <label>Student Address: </label>
      {{ data.address }}<br />
      <label>Student Course: </label>
      {{ data.course }}<br />
      <label>Student Contact: </label>
      value="{{ data.phone_number }}"
      <br />
      <button type="submit">Delete</button>
    </form>
    <script src="" async defer></script>
  </body>
</html>
