<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <label>Student Name: </label>{{ data.name }}<br />
    <label>Student Address: </label>{{ data.address }}<br />
    <label>Student Course: </label>{{ data.course }}<br />
    <label>Student Contact: </label>{{ data.phone_number }}<br />
    <script src="" async defer></script>
  </body>
</html>
